html, body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

#headers {
    margin: 50px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    background-image: url("forest.jpeg");
    background-size: cover;
}

.center {
    text-align: center;
  }

  ul {
      list-style: none;
      padding: 0;
  }

  #guesses {
      margin-top: 50px;
  }

  .guess {
    display: inline-block;
    border: 1px solid black;
    width: 8%;
    height: 60px;
    border-radius: 12px;
    font-size: 2.0em;
    background-color: rgba(255, 255, 255, 0.75);
  }

  img {
      display: inline;
      width: 200px;
      height: 100px;
  }

  #player-input {
      font-size: 2.0em;
      max-width: 16%;
  }

  #footer {
      width: 100%;
      border-top: solid 2px black;
      background-color: white;
      position: fixed;
      bottom: 0;
      top: 80%;
  }
